a{
    color: #00bcd4;
}

/* Style buttons */
.btn-js-download {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 15px;
  width: 250px;
  border-radius: 50px;
  opacity: 0.7;
}

/* Darker background on mouse-over */
.btn-js-download:hover {
  background-color: RoyalBlue;
  opacity: 1;
}

.note{
  background-color: #ededed;
  padding: 5px 10px;
}